# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/
*.aux
*.bbl
*.brf
*.fdb_latexmk
*.fls
*.lof
*.lot
*.synctex.gz
*.toc
*.pdf
*.log
